<div class="container">
  <div class="row mt-5" id="header">
    <div class="col">
      <div class="text-center">
        Send Mail to Imported CSV User Details
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 3em;">
    <div class="col-4"></div>
    <div class="col-3 ml-3">
      <div class="button-wrap">
        <label class="new-button" for="txtFileUpload">
          Import CSV
          <input
            type="file"
            id="txtFileUpload"
            (change)="uploadListener($event)"
            accept=".csv"/>
          <div></div
        ></label>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <h6 *ngIf="records.length > 0">Total Records: {{ records.length }}</h6>
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <table class="minimalistBlack" *ngIf="records.length > 0" id="users">
          <thead>
            <tr>
              <th>S.No</th>
              <th>FirstName</th>
              <th>LastName</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Address</th>
              <th>Gender</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *cdkVirtualFor="let record of records; let i = index"
              class="example-item"
            >
              <td>
                <span>{{ i + 1 }}.</span>
              </td>
              <td>
                <span>{{ record.id }}</span>
              </td>
              <td>
                <span>{{ record.firstName }}</span>
              </td>
              <td>
                <span>{{ record.lastName }}</span>
              </td>
              <td>
                <span>{{ record.age }}</span>
              </td>
              <td>
                <span>{{ record.position }}</span>
              </td>
              <td>
                <span>{{ record.mobile }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col text-center">
      <button
        mat-raised-button
        color="primary"
        *ngIf="records.length > 0"
        (click)="uploadTheFile()"
      >
        Send Mail
      </button>
    </div>
  </div>
</div>
